DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DATABASE_URL=postgresql://giveaway_bot:replace-me@postgres:5432/giveaway_bot
POSTGRES_USER=giveaway_bot
POSTGRES_PASSWORD=
POSTGRES_DB=giveaway_bot
SESSION_ENCRYPTION_KEY=
DRAND_PUBLIC_KEY=
